

<form>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="addressBook.name" />
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="addressBook.addressLine1" />
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="addressBook.addressLine2" />
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="addressBook.tel" />
  </div>
  <button class="btn btn-success" ng-click="addItem()">Submit</button>
</form>
